header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    z-index: 150;
    border: 0px;
    height: 100px;
    
    display: flex;
    justify-content: space-around;
    align-items: center; 
    
    margin: 0 auto;
    

    tr{
        
        padding: 0px;
    }
}

a {
    color: rgb(255, 255, 255); /* Define a cor inicial do link */
    text-decoration: none;
}

body{
    padding-top: 150px; ;
    color: #ffffff;
    background-color: #1b2a3f;
    scroll-padding-top: 100px
}

.tabela{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-collapse: collapse; 
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;

    table{
        text-align: center;
        padding: -1px;
        border: 5px solid black;
        
    }
    td{
        background-color: #3a5375;
    }
}



h1{
    text-align: center;
}
h2{
    text-align: center;
}

